<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer une tâche</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="header">
    <h1 class="title">To Do List</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href='index.php'>Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href='?action=create'>Créer une tâche</a></li>
        <li class="nav-item"><a class="nav-link" href='historique.php'>Historique</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <h2 class="sub-ttl">Veuillez rentrer les données : </h2>
    <form class="form" method="post" action="index.php?action=add">
      <div class="field">
        <label class="label">Description : <br>
          <input class="input" type="text" name="description" required></label>
      </div>
      <div class="field"><label class="label">Date de rappel : <br>
          <input class="input" type="date" name="date" required></label>
      </div>
      <div class="field"><label class="label">Couleur : <br>
          <input class="input" type="color" name="color" value="#ffffff" required></label>
      </div>
      <div class="field">
        {{display-themes}}
      </div>
      <div class="field">
        <input class="input" type="submit" name="submit" value="Valider les données">
      </div>
    </form>
  </div>


</body>

</html>