<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <h1 class="title">To Do List</h1>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href='index.php'>Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href='?action=create'>Créer une tâche</a></li>
                <li class="nav-item"><a class="nav-link" href='?action=history'>Historique</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div>
            <h2 class="sub-ttl">Tâches à effectuer : </h2>
        </div>
    </div>
    {{taskList}}

    <script src="js/create.js?<?=time()?>"></script>
    <script src="js/script.js?<?=time()?>"></script>
</body>
</html>